<div class="card  bg-light mb-3 ml-5 " style="width: 50rem;text-align:center;">
    <div class="card-header">
        <h1>Machine Test</h1>
    </div>
    <nav class="col-md-12">
        *<a routerLink="/dynamic-form" routerLinkActive="active">Dynamic form 1</a>&nbsp;
         * <a routerLink="/dynamic-form2" routerLinkActive="active">Dynamic Form 2</a>
  
      </nav><br>
      <!-- The routed views render in the <router-outlet>-->
      <router-outlet></router-outlet>
    <section>
        <form id="form" [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
            <div class="row form">
                <div class="col-md-12" *ngFor="let control of dynamicFormArray">
                    <div [ngSwitch]="control.type">
                        <div *ngSwitchCase="'date'"  class="form-group">
                           
                            <div >
                                {{control.label}} <input type="date" [formControlName]="control.label" class="form-control" style="width: 250px;margin-left: 268px;">
                            </div>
                        </div>
                        <div *ngSwitchCase="'select'"  class="form-group">
                            <div >
                                <label>{{control.label}}</label>
                            </div>
                            <div >
                              <select class="form-control" [formControlName]="control.label">
                                  <option value="-1">--Select--</option>
                                  <option *ngFor="let val of control.options;let i =index" value="{{val}}" style="width: 250px;margin-left: 268px;">{{val}}</option>
                              </select>
                            </div>
                        </div>
                        <div *ngSwitchCase="'number'"  class="form-group">
                            <div >
                                <label>{{control.label}}</label>
                            </div>
                            <div >
                                <input type="number" [formControlName]="control.label" class="form-control" style="width: 250px;margin-left: 268px;">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <button color="info" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect"
                type="submit">Submit</button>
        </form>
    </section>
</div>