::ng-deep .mat-radio-button .mat-radio-container {
    width: 0;
  }
  ::ng-deep .mat-radio-container .mat-radio-outer-circle,
  ::ng-deep .mat-radio-container .mat-radio-inner-circle {
    border: none;
    width: 0;
  }
