<div class="card  bg-light mb-3 ml-5 " style="width: 50rem;text-align:center;">
    <div class="card-header">
        <h1>Machine Test</h1>
    </div>
    <div class="card-body">

        <label>Output From The Form</label><br>
        <textarea id="textarea" class="materialize-textarea" required></textarea>

    </div>
</div>