<div class="card  bg-light mb-3 ml-5 " style="width: 50rem;text-align:center;">
    <div class="card-header">
        <h1>Machine Test</h1>
    </div>
    <router-outlet></router-outlet>
    <section>
        <form id="form" [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
            <input type="hidden" name="Id" value=0>

            <div class="row form">
                <div class="col-md-12" *ngFor="let control of dynamicFormArray">
                    <div [ngSwitch]="control.type">
                        <div *ngSwitchCase="'text'" class="form-group">
                            <div>
                                <label>{{control.label}}</label>
                            </div>
                            <div>
                                <input type="text" name="Name" [formControlName]="'Name'" class="form-control"
                                    style="width: 250px;margin-left: 268px;">
                            </div>
                        </div>

                        <div *ngSwitchCase="'radio'" class="form-group">
                            <div>
                                <label>{{control.label}}</label>
                            </div>
                            <div>
                                <mat-radio-group [formControlName]="'Gender'">
                                    <label class="radio" *ngFor="let val of control.options">
                                        <mat-radio-button disableRipple="true" name="Gender" value=" {{val}}"
                                            labelPosition="after">&nbsp; {{val}}</mat-radio-button>&nbsp;
                                    </label>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div *ngSwitchCase="'checkbox'" class="form-group">
                            <div>
                                <label>{{control.label}}</label>
                            </div>
                            <div *ngFor="let val of control.options; let i = index">
                                <label>
                                    <input type="checkbox" name="Hobbies" [value]="val"
                                        (change)="onCheckChange($event)">
                                    {{val}}
                                </label></div>
                        </div>

                        <div *ngSwitchCase="'select'" class="form-group">
                            <div>
                                <label>{{control.label}}</label>
                            </div>
                            <div>
                                <select class="form-control" [formControlName]="'Place'" name="Place">
                                    <option value="-1">--Select--</option>
                                    <option *ngFor="let val of control.options;let i =index" value="{{val}}">{{val}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <button color="info" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect"
                type="submit">Submit</button>
        </form>
    </section>
</div>