<div class="card  bg-light mb-3 ml-5 " style="width: 50rem;text-align:center;">
    <div class="card-header">
        <h1>Machine Test</h1>
    </div>
    <div class="card-body">
        <section>
            <form id="form" [formGroup]="jsonForm" (ngSubmit)="onSubmit()">
                <div class="row form">
                    <div class="col-md-12">
                        <label>Input the JSON representation of the Form</label><br>
                        <textarea formControlName="jsonData" id="textarea"
                            class="materialize-textarea" required></textarea>
                    </div>
                </div>
                <button color="info" class="btn btn-secondary" type="submit" [disabled]="!jsonForm.valid"
                    type="submit">Generate</button>
            </form>
        </section>
    </div>
</div>